<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>
    <p> Bienvenu chère utilisateur! La liste des potins arrive bientôt, et qu'en attendant, tu peux <a href="/gossips/new/">créer un gossip</a> </p>
  </body>
</html>